<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kermit - Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' href='/styles/layout.css'>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Midterm</title>
    <%- include('partials/_search') %>
  </head>
    <body class='container'>
      <% for(let tile in tiles) { %>
        <div class='col-xs-2 col-md-4 col-lg-6'>
        <div class='box'>
          <img src='<%= (tiles[tile].thumbnail_photo_url) %>'>
          <h2><%= (tiles[tile].title) %></h2>
          <p><%= (tiles[tile].description) %></p>
          <li><%= (tiles[tile].url) %></li>
          <div class='a'>
          <a href="/tile/<%= (tiles[tile].id) %>" class="card-link">View Tile</a>
          <a href="https://<%= (tiles[tile].url) %>" class="card-link">Link to Site</a>
          </div>
      </div>
      </div>
      <% } %>
    </body>
</html>
