<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <p class="card-title">Name: <a><%= users.name %></a></p>
          <p class="card-text">Email: <a><%= users.email %></a></p>
          <p class="card-text">Password: <a><%= users.password %></a></p>
        </div>
        </div>
      <div class="card-footer card text-center text-muted">
        <h3>Edit</h3>
        <form class=" form-inline text-center align-self-center" method="POST" action="/profile/<%= userID %>">
          <div class="form-group text-center ">
            <label for="name">Name:</label>
            <input class="form-control" type="text" value="<%= user.name %>" style="width: 300px; margin: 1em">
            <label for="email">Email:</label>
            <input class="form-control" type="text" value="<%= user.email %>" style="width: 300px; margin: 1em">
            <label for="password">Password:</label>
            <input class="form-control" type="text" value="<%= user.password %>" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Update</button></div>
          </div>
      </div>
  </body>
</html>
