<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kermit - My Tiles</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' href='/styles/layout.css'>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Midterm</title>
    <%- include('partials/_search') %>
  </head>

  <body class='container'>
      <h3>My created tiles</h3>

      <% for(let tile in myTiles) { %>
        <div class='col-xs-2 col-md-4 col-lg-6'>
          <div class='box'>
          <img src="<%= (myTiles[tile].thumbnail_photo_url) %>">
            <h2><%= (myTiles[tile].title) %></h2>
            <p><%= (myTiles[tile].description) %></p>

            <li><%= (myTiles[tile].url) %></li>
            <div class='a'>
            <a href="/tile/<%= (myTiles[tile].id) %>" class="card-link">View Tile</a>
            <a href="https://<%= (myTiles[tile].url) %>" class="card-link">Link to Site</a>
          </div>
          </div>
        </div>
      <% } %>
      <h3>My liked tiles</h3>
      <% for(let tile in myLikes) { %>
        <div class='col-xs-2 col-md-4 col-lg-6'>
          <div class='box'>
          <img src="<%= (myLikes[tile].thumbnail_photo_url) %>">
            <h2><%= (myLikes[tile].title) %></h2>
            <p><%= (myLikes[tile].description) %></p>
            <li><%= (myLikes[tile].url) %></li>
          <div class='a'>
            <a href="/tile/<%= (myLikes[tile].id) %>" class="card-link">View Tile</a>
            <a href="https://<%= (myLikes[tile].url) %>" class="card-link">Link to Site</a>
          </div>
        </div>
        </div>
      <% } %>
  </body>
</html>
